@charset "utf-8";
/* CSS Document */

/*estilos generales*/

body, html {
	font-family: 'Montserrat', sans-serif;
}
p
{
	font-family: Arial,Helvetica,"Helvetica Neue","sans-serif"
}
.text-naranja {
	color: #e48b00;
}
.text-darkBlue {
	color: #014755;
}
.bg-principal {
	background-color: #031330;
}
.bg-principal-soft {
	background-color: #e9f3fc;
}
.bg-principal-auspicio {
	background-color: #fcf7e3;
	
}
.border-bg-auspicio {
	border-color: #22386b!important;
}

.border-bg-principal {
    border-color: #031330!important;
}
.msg-inicio {
	color: white;
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 0px;
}
.footer2 {
	background-color: #222222;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}
.footer2 a, .footer2 a:visited {
	color: #fbb03b;
}
.footer2 a:active, .footer2 a:hover {
	color: #B76F00;
}
.redes-sociales {
	list-style: none;
	float: left;
	margin-bottom: 0;
}
.redes-sociales li {
	display: inline-block;
	width: 32px;
	position: relative;
	margin: 0;
	padding: 0;
}
.redes-sociales li img {
	width: 100%;
}
.creditos {
	text-align: left;
	font-size: 14px;
	margin-top: 5px;
}
.soporte {
	position: fixed;
	bottom: 0;
	right: 2.5%;
	max-width: 120px;
	min-width: 80px;
	width: 8%;
}
.customBotonYellow {
	box-shadow: inset 0px 1px 0px 0px #fff6af;
	background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color: #ffec64;
	border: 1px solid #ffaa22;
	display: inline-block;
	cursor: pointer;
	color: #014755;
	font-size: 18px;
	font-weight: bold;
	padding: 15px;
	text-decoration: none;
}
.customBotonYellow:hover {
	background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color: #ffab23;
}
.customBotonYellow:active {
}
.btn-girl {
	-moz-box-shadow: inset 0px 1px 0px 0px #e184f3;
	-webkit-box-shadow: inset 0px 1px 0px 0px #e184f3;
	box-shadow: inset 0px 1px 0px 0px #e184f3;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c123de), color-stop(1, #a20dbd));
	background: -moz-linear-gradient(top, #c123de 5%, #a20dbd 100%);
	background: -webkit-linear-gradient(top, #c123de 5%, #a20dbd 100%);
	background: -o-linear-gradient(top, #c123de 5%, #a20dbd 100%);
	background: -ms-linear-gradient(top, #c123de 5%, #a20dbd 100%);
	background: linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c123de', endColorstr='#a20dbd', GradientType=0);
	background-color: #c123de;
	border: 1px solid #a511c0;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	text-decoration: none;
}
.btn-girl:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a20dbd), color-stop(1, #c123de));
	background: -moz-linear-gradient(top, #a20dbd 5%, #c123de 100%);
	background: -webkit-linear-gradient(top, #a20dbd 5%, #c123de 100%);
	background: -o-linear-gradient(top, #a20dbd 5%, #c123de 100%);
	background: -ms-linear-gradient(top, #a20dbd 5%, #c123de 100%);
	background: linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a20dbd', endColorstr='#c123de', GradientType=0);
	background-color: #a20dbd;
	text-decoration: none;
	color: #ffffff;
}
.btn-girl:active {
	position: relative;
	top: 1px;
	color: #ffffff;
}
.btn-boy {
	-moz-box-shadow: inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow: inset 0px 1px 0px 0px #97c4fe;
	box-shadow: inset 0px 1px 0px 0px #97c4fe;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background: -moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background: -webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background: -o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background: -ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0', GradientType=0);
	background-color: #3d94f6;
	border: 1px solid #337fed;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	text-decoration: none;
}
.btn-boy:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
	background: -moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background: -webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background: -o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background: -ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6', GradientType=0);
	background-color: #1e62d0;
	text-decoration: none;
	color: #ffffff;
}
.btn-boy:active {
	position: relative;
	top: 1px;
	text-decoration: none;
	color: #ffffff;
}
.multiselect {
	text-align: left;
}
.modal-open {
	overflow: hidden;
	padding-right: 0 !important;
}
.modal {
	padding-right: 0 !important;
}
.modal-body-max-h-600 {
	max-height: 600px;
	overflow: auto;
}
.multiselect {
	height: 45px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(218, 218, 218);
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	padding: 10px;
	-webkit-box-shadow: inset 0px 0px 16px 0px rgba(235,235,235,1);
	-moz-box-shadow: inset 0px 0px 16px 0px rgba(235,235,235,1);
	box-shadow: inset 0px 0px 16px 0px rgba(235,235,235,1);
}

/*********************************************************************/
/*estilo pagina usuario*/

.headBannerUsuario

{
	background-color: black;
	background-position: center;
	background-size: cover;
	
}
 .userCustomNav .nav-link

{
	font-size: 14px;
}
.custom-navbar-user ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.custom-navbar-user ul li
{
	display: inline-block;

}
.custom-navbar-user ul li a
{
	color: white;
	display: inline-block;

}
.item-user-info a
	{
		border-left: solid 1px #71a4ff;
		color: aqua !important;
	}
.item-user-info a:hover
{
	color: white !important;
}
.coinsUser
{
	color:orange ;
}
.coinUser img
{
	width: 16px;
	height: auto;
	margin-left: 5px;
}
.coinsCount
{
	color: #f1db02;
}
.nivelUser
{
	min-width: 100px;
}
.text-nivel
{
	width: 25px;
	
}
.customBarUsuario
{
	width: 45px;
	float: right;
}
.nombreUsuario
{
	position: relative;
}
.nombreUsuario a
{
	margin-right: 40px;
}
 
.nombreUsuario img
{
	position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    height: auto;
}
.nav-user-border-right
{
	border-right: solid 1px gray;
}
.nav-user-border-left
{
	border-left: solid 1px gray;
}

.custom-breadcrumb {
    list-style: none;
    margin: 25px 0 25px;
	padding: 0;
    overflow: hidden;
    text-align: left;
	position: relative;
	width: 100%;
}
.custom-breadcrumb li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.custom-breadcrumb a {
    color: #fff;
    font-size: 14px;
}
.custom-breadcrumb li+li {
    padding-left: 37px;
}
.custom-breadcrumb li+li:before {
    content: " ";
    position: absolute;
    top: 12px;
    left: 11px;
    width: 13px;
    height: 1px;
    background: #fff;
}

.custom-breadcrumb li:last-child:after {
    position: absolute;
    content: " ";
    width: 1920px;
    height: 1px;
    background: #fff;
    top: 12px;
    left: 100%;
    margin-left: 15px;
}
.avatarPerfil
{
	width: 120px;
	float: left;
}
.contenedor-nivel-perfil
{
	position: relative;
	margin-left: 120px;
    margin-top: 15px;
	color: white;
}
.nivelPerfil
{
	width: 10%;
}
.customBarPerfil
{
	width: 90%;
}

.btnBlueUsuario {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:6px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.btnBlueUsuario:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.btnBlueUsuario:active {
	position:relative;
	top:1px;
}

.btnOrangeUsuario {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.btnOrangeUsuario:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.btnOrangeUsuario:active {
	position:relative;
	top:1px;
}
.page-nav-auspicio{
	background-color: #00c0f0;
}
.page-nav-auspicio>a:hover{
	color: white;
}
.page-nav-usuario{
	background-color: #012a75;
}
.capita
{
	width: 117px;
	height: 104px;
	background-image: url(../img/capa.png);
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
}
.coin-nav-3
{
	width: 32px;
	height: 32px;
	display: inline-block;
}
.monedas-nav-3
{
	margin-top: 15px;
	color: orange;
	font-size: 16px;
	display:  block;
}
.navbar-3 ul
{
	margin-left: 125px;
}

.navbar-3{
    padding: 6px;
	text-align: left;
	
}

.navbar-3 ul{
    padding: 0px;
	margin-bottom: 0;
}

.navbar-3 .nav-item{
    float: left;
    list-style: none;
    border-right: 1px solid #3b538b;
}


.navbar-3 .nav-item a{
    display: block;
    padding: 6px 20px;
    color: white;
    text-decoration: none;
}






.navbar-3 .nav-item:hover a{
    color: rgb(0, 126, 217);
}

.navbar-3 .nav-item.active a{
    color: rgb(0, 126, 217);
}

.texto-usuarioInicio
{
	margin-top: 80px;
}

.datosPersonales-UsuarioInicio ul li
{
	font-family: Arial,Helvetica,"Helvetica Neue","sans-serif";
}
.lista-usuarioInicio-datosPersonales
{
	background-color: #031330;
	padding-top:0;
}
.lista-usuarioInicio-datosPersonales li
{
	background-color: transparent;
	color: white;
	border: 1px solid #3b538b;
}


/*********************************************************************/
/*estilo Multi Tombola*/
/*********************************************************************/
span#pozoGanador{
	border-radius: 162px 162px 162px 162px;
	-moz-border-radius: 162px 162px 162px 162px;
	-webkit-border-radius: 162px 162px 162px 162px;
	border: 0px solid #22386b;

	background-color: #22386b;
	
	font-size: 19px;
	letter-spacing: 1.62px;
	line-height: 0px;
	
}
span#pozoGanador>text{
	padding-left: 5%;
	padding-right: 5%;
}
button#btnParticipar{
	background-color:#ed5a24 ;
	color: white;
	border-radius: 12px;
	border-color: #ed5a24;
}

button#btnParticiparCerrado{
	background-color:transparent ;
	color: #22386b;
	border-radius: 12px;
	border-color: #219aff;
	font-size: 12px;
}
#Premio3{
	position: relative;
	left: 0; 
	top: 0;
}
div#nombrePremio3{
	border-radius: 65px 65px 65px 65px;
	-moz-border-radius: 65px 65px 65px 65px;
	-webkit-border-radius: 65px 65px 65px 65px;
	border: 0px solid #22386b;
	
	background-color: #22386b;
	width: max-content;
	height: max-content;
	
}
span#pozoGanadorApuesta{
	border-radius: 162px 162px 162px 162px;
	-moz-border-radius: 162px 162px 162px 162px;
	-webkit-border-radius: 162px 162px 162px 162px;
	border: 0px solid #303030;

	background-color: #303030;

	font-size: 19px;
	letter-spacing: 1.62px;
	line-height: 0px;
}

span#numeroEstado{
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 100px;
     height: 100px;
	border: 0px solid #ed5a24;
	background-color: #ed5a24;
	color: white;
}
span#numeroEstadoCerrado{
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 100px;
     height: 100px;
	border: 0px solid #219aff;
	background-color: #219aff;
	color: white;
}
/*********************************************************************/
/*estilo pagina usuario*/
/*********************************************************************/




@media only screen and (max-width:1200px) {
	.soporte {
		right: 0;
	}
	
	/*********************************************************************/
	/*estilo pagina usuario*/
	.nombreUsuario img{display: none;}
	.nav-user-border-right,.nav-user-border-left
	{
		border: none;
	}

	/*estilo pagina usuario*/
	/*********************************************************************/
}

@media only screen and (max-width:1024px) {
}

@media only screen and (max-width:991px) {
/*estilo pagina usuario*/
	/*********************************************************************/	
	.navbar-3 .nav-item	
		{
			float: left;
		list-style: none;
		border-right: none;
		display: block;
		width: 100%;
		border-bottom: 1px solid #3b538b;
	}
/*estilo pagina usuario*/
	/*********************************************************************/	
}

@media only screen and (max-width:980px) {
.soporte {
	display: none;
}
}

@media only screen and (max-width:767px) {
.redes-sociales {
	float: inherit;
	margin-top: 10px;
}
.creditos {
	text-align: center;
}
.creditos span {
	width: 100%;
	display: block;
}
}

@media only screen and (max-width:600px) {

	.logo-principal {
		width: 100%;
		text-align: center;
		margin-right: 0;
	}
	.msg-inicio {
		color: #4373cc;
		font-size: 11px;
		margin-top: 0;
		margin-bottom: 11px;
		text-align: center;
		width: 100%;
	}
	
	
	/*********************************************************************/
	/*estilo pagina usuario*/
	.custom-navbar-user
	{
		width: 100%;
		text-align: center;
	}
	
	.custom-navbar-user ul
	{
		margin-bottom: 10px;
	}
	/*estilo pagina usuario*/
	/*********************************************************************/
	
}

@media only screen and (max-width:480px) {
}

@media only screen and (max-width:320px) {
}

@media only screen and (max-width:240px) {
}	

/*estilos generales*/
