.bg-compras{
    background-image: url('./img/bg-inicio_final.png');
}
.page-nav-compras{
    background-color: #343a40;
}

.txtComprarTienda{
    border-right: 2px solid white;
    padding-right: 15px;
    font-size: 15px;
    color: white;
    padding: 8px;
    
}

.txtComprarTienda:hover{
    text-decoration: none;
}

.txtRegistrarTienda{
    padding-right: 15px;
    font-size: 15px;
    color: white;
    padding: 8px;
}

.txtRegistrarTienda:hover{
    text-decoration: none;
}

.card-compra{
    width: 100%;
    height: 100%;
    border: 2px solid #B76F00;
}

