.img-sorteo-1{
    height: 300px;
    width: 90%;
}

.nav-premiazo{
    width: 90%;
    background-color: #031330;;
    color: white;
    margin-left: 0.1%;
    font-weight: bold;
    font-size: 85%;
}

.btnParticipar{
    background-color: #feb506;
    padding: 5px 10px;
    border-radius: 8px;
    border: 2px solid #feb506;
    
}

@media only screen and (max-width:768px) {

    .img-sorteo-1{
        height: 90%;
        width: 290px;
    }
    
    .nav-premiazo{
        width: 90%;
        background-color: #031330;;
        color: white;
        width: 290px;
        margin-left: 0.1%;
        font-weight: bold;
    }

    .btnParticipar{
        background-color: #feb506;
        padding: 3px 8px;
        border-radius: 8px;
        border: 2px solid #feb506;
        font-size: 12px;
    }

    .txtPremiazo{
        font-size: 12px;
    }

}

@media only screen and (max-width:480px) {
	
    .img-sorteo-1{
        height: 90%;
        width: 290px;
    }
    
    .nav-premiazo{
        width: 90%;
        background-color: #031330;;
        color: white;
        width: 290px;
        padding: 7px 10px;
        margin-left: 0.1%;
        font-weight: bold;
        height: 20%;
    }

    .btnParticipar{
        background-color: #feb506;
        padding: 3px 8px;
        border-radius: 8px;
        border: 2px solid #feb506;
        font-size: 12px;
    }

    .txtPremiazo{
        font-size: 12px;
    }

}